<!-- Banner -->
<section id="banner">

	<!--
			  ".inner" is set up as an inline-block so it automatically expands
			  in both directions to fit whatever's inside it. This means it won't
			  automatically wrap lines, so be sure to use line breaks where
			  appropriate (<br />).
		  -->
	<div class="inner">

		<header>
			<h2>Aprenda fazendo</h2>
		</header>
		<p>Com os cursos da <a href="http://metamaquina.com.br">Metamáquina</a><br />
		   você aprende com a mão na massa!<br /></p>
		<footer>
			<ul class="buttons vertical">
				<li><a href="#tell-more" class="btn btn-transparent btn-lg fit scrolly">Saiba mais</a></li>
			</ul>
		</footer>

	</div>

</section>
